body {
  margin: 0px;
  background-color:white;
}

header {
  height:500px;
  width: 100%;
  background-image: url("../images/banner4.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  display: flex;
  flex-direction: column;
  /*ALLINEMANETO ORIZZONTALE CENTRATO*/
  align-items: center;
  /*ALLINEAMENTO VERTICALE CENTRATO*/
  justify-content: center;
  color:white;
  line-height: 1.2;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
}


/*CON ABSOLUTE DIAMO UNA POSIZIONE FISSATA ALL'INTERNO DEL ELEMENTO CHE LO CONTINE HEADER CHE E RELATIVE,IN TAL MODO OTTENGO L'IMMAGINE DI SFONDO*/
#overlay {
  background-color:rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  bottom:0;
  height: 100%;
  width: 100%;
}

/*PROPRIETA DELL'HEADER SE SIAMO SU MOBILE*/
@media (max-width: 500px) {
  header {
    height: 50%;
    line-height: 1.5;
  }
}

/*FLEX-CONTINER PER RIGHE CHE CONTIENE LOGO E I LINK*/
header nav {
  /*COSI DICIAMO CHE SARA SOPRA L'OVERLAY*/
  z-index: 1;
  /*ALTEZZA 20% DEL HEADER E LARGHEZZA 100%*/
  height: 20%;
  /*POSIZIONE FISSATA ALL'INTERNO DI HEADER CHE LO CONTIENE*/
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 20px;
  display: flex;
  /*ELEMENTI SPAZIATI TRA DI LORO(LOGO E LINK)*/
  justify-content: space-between;
  /*ALLINEAMENTO VERTICALE AL CENTRO*/
  align-items:center;
}



/*AL ELEMENTO CON ID LOGO DIAMO UN FONT TRAMITE GOOGLE FONT*/
#logo {
  font-size: 30px;
  text-align: left;
  font-family: 'Dancing Script', cursive;
}


@media (max-width: 500px) {
	#logo {
    /*RISPETTO AL FONT SIZE DI LOGO SARA 1.5 VOLTE PIU GRANDE*/
	  font-size: 1.5em;
	}
}


/*DIV CON TALE CLASSE CHE CONTIENE I LINK HA TALI MARGINI*/
.flex-itemnav{
  margin-left:50px;
  margin-right:50px;
}

/*PROPRIETA CHE DIAMO A OGNI ELEMENTO A DENTRO CLASSE .FLEXITEMNAV*/
.flex-itemnav a {
  color:white;
  padding: 2.5px 20px 2.5px 20px;
  border-radius: 40px;
  text-decoration: none;
  text-transform: uppercase;
}

/*EFFETTO GRAFICO SE PASSIAMO CON IL MOUSE SU UN LINK*/
.flex-itemnav a:hover{
  background-color: #ffffff;
  color:#000000;
}

/*PROPRIETA AL H1 DENTRO HEADER*/
header h1{
  /*COSI DICIAMO CHE SARA SOPRA L'OVERLAY*/
  z-index: 1;
  font-family: Helvetica, sans-serif;
  font-size: 35px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 23px;
  margin-bottom: 23px;
}

/*PROPRIETA SE SIAMO SU MOBILE*/
@media (max-width: 500px) {
  header h1{
    font-size: 20px;
    margin-top: 220px;
    letter-spacing: 2px;
    text-align: center;
  }
}



/*IL DIV CHE CONTIENE LE 3 RIGHE INIZIALMENTE NASCOSTO*/
#menu{
  display: none;
}


/*CSS PER POTERE AVERE LE 3 RIGHE BIANCHE*/
#menu .linemobile{
  width: 25px;
  height: 3px;
  background-color:white;
  margin:2.5px 2.5px 2.5px 2.5px;
}



/*PROPRIETA PER ANDARE A GESTIRE IL MENU SU MOBILE*/
@media(max-width:500px){
  /*SE SIAMO SU MOBILE NASCONDIAMO IL CONTENITORE CHE CONTIENE LINK WEB*/
.flex-itemnav{
    display: none;
  }
  #menu{
    display: block;
    margin-right:30px;
  }
/*DIV CON TALE CLASSE E IL CONTENITORE DEI LINK MOBILE*/
 .linkmobile{
    display: flex;
    flex-direction: column;
    position:absolute;
    top:0px;
    right:-5px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.3);
  }


  .linkmobile a,.linkmobile span{
    color:white;
    padding: 2.5px 20px 2.5px 20px;
    text-decoration: none;
    text-transform: uppercase;
  }
  .linkmobile a:hover,.linkmobile span:hover{
    background-color: #ffffff;
    color:#000000;
  }
}
/*FIN QUA CODICE HEADER*/



/*IL DIV CON ID PARAGRAFER 28% ALTO ORIENTATO PER COLONNA CENTRATO SIA ASSE X CHE ASSE Y*/
#paragrafer{
  display: flex;
  height: 28%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color:black;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-size: 25px;
  }
  
  /*VADO A RIDEFINIRE TALI MARGINI SENNO H1 SI PRENDE QUELLI SUOI DI DEFAULT*/
  #paragrafer h1{
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  /*QUESTO EREDITA TUTTO MA CAMBIA QUELLI DEFINITI QUA */
  @media (max-width: 500px) {
    #paragrafer h1 {
      font-size: 20px;
      margin-top:45px;
    }
  }
  
  
  #paragrafer p{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: normal;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  @media (max-width: 500px) {
    #paragrafer p {
      padding-left:40px;
    }
  }
  
  
  /*LA SECTION CONTIENE 3 ELEMENTI DISPOSTI PER RIGA CENTATI VERTICALMENTE E ORIZZONTALMENTE ABBIAMO SPACE-AROUND CHE METTE SPAZI PROPORZIONALI*/
  /*NON METTO ALTEZZA COSI CHE AVRA UN ALTEZZA IN BASE AGLI ELEMENTI*/
  /*DISTANZIATO 20PX DAL PARAGRAFER*/
  /*DISTANZIATO 20 PX DAL FOOTER*/
  
  section{
    width:100%;
    margin-top:20px;
    margin-bottom:20px;
    display: flex;
    /*ASSE Y=CENTRATO*/
    align-items: center;
    /*ASSE X=SPAZIO PROPORZIONALE ANCHE AI LATI*/
    justify-content: space-around;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-style: oblique;
  }
  
  /*MOBILE GLI ELEMENTI SARANNO DISPOSTI PER RIGA*/
  @media (max-width: 500px) {
    section{
      flex-direction: column;
    }
  }
  
  /*OGNI ELEMENTO SARA UN FLEX CONTAINER PER COLONNA ORIZONTALMENTE CENTRATO E VERTICALMENTE(ASSE Y) AL INZIO DELLA FLEX*/
  .flex-itemsection{
    /*LARGHEZZA 28% DELLA SECTION COSI NE METTE 3*/
    /*NON METTO L'ALTEZZA COSI SI PRENDE QUELLA IN BASE AGLI ELEMENTI*/
    width:28%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /*ASSE X CENTRATO*/
    align-items: center;
    /*ASSE Y INIZIO FLEX*/
    justify-content:flex-start;
    text-align: left;
  }
  
  
  /* SU MOBILE ESSENDO PER COLONNA METTO LARGHEZZA=80% E CENTRATO RISPETTO ASSE Y*/
  @media (max-width: 500px) {
    .flex-itemsection{
       width: 80%;
       justify-content: center;
    }
  }
  
  /*larghezza 100% del flexitem*/
  .flex-itemsection img{
    width: 100%;
  }
  
  
  
  .flex-itemsection h1,.flex-itemsection p{
    margin-top: 10px;
    margin-bottom: 10px;
    color:black;
    padding-left: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
  }
  
  
  .flex-itemsection .button{
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: bold 15px Arial, Helvetica, sans-serif;
    border-radius:5px;
    padding:20px 25px;
    background-color: rgb(106, 255, 228);
    color: black;
    }
  
    .flex-itemsection .button:hover{
            background-color:rgba(102,248,221,0.9);
      }
      


    /*CODICE FOOTER*/
    footer{
      display: flex;   /*FLEX CONTAINER*/
      flex-direction: column;     /*ELEMENTI DISPOSTI PER COLONNA COSI UNO SOTTO L'ALTRO*/
      align-items: center;
      width: 100%;          /*LARGHEZZA 100% DELLA VIEW*/
      background-color: rgb(70,70,70);  /*CAMBIO COLORE DI SFONDO*/
      line-height: 1.2;
      font-weight: bold;  /*GRASETTO*/
      font-family: 'Yanone Kaffeesatz', sans-serif;
    }

    footer h1{
      color:white;
      padding-left: 20px;
      font-size: 30px;
      margin: 0px;
      font-family: 'Dancing Script', cursive;
    }

    footer p{
      font-size: 20px;
      margin-top: 5px;
      margin-bottom: 5px;
      padding-top: 5px;
      padding-bottom: 5px;
      color:white;
    }

    .hidden{
      display: none;
    }
