body {
    margin: 0px;
    background-color:white;
  }
  
  header {
    height:500px;
    width: 100%;
    background-image: url("");
    background-size: cover;
    background-position: top;
    position: relative;
    display: flex;
    flex-direction: column;
    /*ALLINEMANETO ORIZZONTALE CENTRATO*/
    align-items: center;
    /*ALLINEAMENTO VERTICALE CENTRATO*/
    justify-content: center;
    color:white;
    line-height: 1.2;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
  }
  
  
  /*CON ABSOLUTE DIAMO UNA POSIZIONE FISSATA ALL'INTERNO DEL ELEMENTO CHE LO CONTINE HEADER CHE E RELATIVE,IN TAL MODO OTTENGO L'IMMAGINE DI SFONDO*/
  #overlay {
    background-color:rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    bottom:0;
    height: 100%;
    width: 100%;
  }
  
  /*PROPRIETA DELL'HEADER SE SIAMO SU MOBILE*/
  @media (max-width: 500px) {
    header {
      height: 50%;
      line-height: 1.5;
    }
  }
  
  /*FLEX-CONTINER PER RIGHE CHE CONTIENE LOGO E I LINK*/
  header nav {
    /*COSI DICIAMO CHE SARA SOPRA L'OVERLAY*/
    z-index: 1;
    /*ALTEZZA 20% DEL HEADER E LARGHEZZA 100%*/
    height: 20%;
    /*POSIZIONE FISSATA ALL'INTERNO DI HEADER CHE LO CONTIENE*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 20px;
    display: flex;
    /*ELEMENTI SPAZIATI TRA DI LORO(LOGO E LINK)*/
    justify-content: space-between;
    /*ALLINEAMENTO VERTICALE AL CENTRO*/
    align-items:center;
  }
  
  
  
  /*AL ELEMENTO CON ID LOGO DIAMO UN FONT TRAMITE GOOGLE FONT*/
  #logo {
    font-size: 30px;
    text-align: left;
    font-family: 'Dancing Script', cursive;
  }
  
  
  @media (max-width: 500px) {
      #logo {
      /*RISPETTO AL FONT SIZE DI LOGO SARA 1.5 VOLTE PIU GRANDE*/
        font-size: 1.5em;
      }
  }
  
  
  /*DIV CON TALE CLASSE CHE CONTIENE I LINK HA TALI MARGINI*/
  .flex-itemnav{
    margin-left:50px;
    margin-right:50px;
  }
  
  /*PROPRIETA CHE DIAMO A OGNI ELEMENTO A DENTRO CLASSE .FLEXITEMNAV*/
  .flex-itemnav a {
    color:white;
    padding: 2.5px 20px 2.5px 20px;
    border-radius: 40px;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  /*EFFETTO GRAFICO SE PASSIAMO CON IL MOUSE SU UN LINK*/
  .flex-itemnav a:hover{
    background-color: #ffffff;
    color:#000000;
  }
  
  /*PROPRIETA AL H1 DENTRO HEADER*/
  header h1{
    /*COSI DICIAMO CHE SARA SOPRA L'OVERLAY*/
    z-index: 1;
    font-family: Helvetica, sans-serif;
    font-size: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 23px;
    margin-bottom: 23px;
  }
  
  /*PROPRIETA SE SIAMO SU MOBILE*/
  @media (max-width: 500px) {
    header h1{
      font-size: 20px;
      margin-top: 220px;
      letter-spacing: 2px;
      text-align: center;
    }
  }
  
  
  
  /*IL DIV CHE CONTIENE LE 3 RIGHE INIZIALMENTE NASCOSTO*/
  #menu{
    display: none;
  }
  
  
  /*CSS PER POTERE AVERE LE 3 RIGHE BIANCHE*/
  #menu .linemobile{
    width: 25px;
    height: 3px;
    background-color:white;
    margin:2.5px 2.5px 2.5px 2.5px;
  }
  
  
  
  /*PROPRIETA PER ANDARE A GESTIRE IL MENU SU MOBILE*/
  @media(max-width:500px){
    /*SE SIAMO SU MOBILE NASCONDIAMO IL CONTENITORE CHE CONTIENE LINK WEB*/
  .flex-itemnav{
      display: none;
    }
    #menu{
      display: block;
      margin-right:30px;
    }
  /*DIV CON TALE CLASSE E IL CONTENITORE DEI LINK MOBILE*/
   .linkmobile{
      display: flex;
      flex-direction: column;
      position:absolute;
      top:0px;
      right:-5px;
      font-size: 16px;
      background-color: rgba(0, 0, 0, 0.3);
    }
  
  
    .linkmobile a,.linkmobile span{
      color:white;
      padding: 2.5px 20px 2.5px 20px;
      text-decoration: none;
      text-transform: uppercase;
    }
    .linkmobile a:hover,.linkmobile span:hover{
      background-color: #ffffff;
      color:#000000;
    }
  }
  /*FIN QUA CODICE HEADER*/
  
  
  
  
  /*CODICE RELATIVO AL DIV TITLE*/
  .searchbox{
    /*ELEMENTI DISPOSTI PER RIGA(TESTO E INPUT TIPE SPAZIATI TRA LORO)*/
    display: flex;
    background-color:rgb(70,70,70);
    color:white;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-style: oblique;
    margin-bottom: 20px;
  }
  
  /*SE SIAMO SU MOBILE DISPOSTO PER COLONNA */
  @media(max-width:500px){
  .searchbox{
    /*ALLINEAMENTO ORIZZONTALE*/
    justify-content:center;
  }
  }
  
  .searchbox h1{
    padding-left: 20px;
    font-family: 'Oswald', sans-serif;
  }
  
  
  
  
  
  
  
  
  /*CODICE RELATIVO ALLA SECTION CHE CONTIENE TUTTI GLI ELEMENTI*/
  .flex-section{
    margin-top:30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction:column;
    font-size: 17px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-style: oblique;
  }
  
  
  
  /*CODICE RELATIVO AD OGNI PRODOTTO*/
  .flex-itemsection{
    display: flex;
    padding:10px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  
  
  /*SE SIAMO SU MOBILE DISPONGO PER COLONNA GLI ELEMENTI*/
  @media(max-width:500px){
    .flex-itemsection{
    flex-direction: column;
  }
  }
  
  .flex-itemsection img{
    width:350px;
    height:220px;
  }
  
  .flex-itemsection .title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .flex-itemsection  p,.flex-itemsection  h3{
    margin-top: 5px;
    margin-bottom: 5px;
    color:black;
    padding-left: 5px;
  }
  /*SE SIAMO SU MOBILE DICO CHE IMMAGINE PIU PICCOLA E P PIU PICCOLO*/
  @media(max-width:500px){
    .flex-itemsection p{
      max-width: 215px;
    }
  }
  

       /*CODICE FOOTER*/
       footer{
        display: flex;   /*FLEX CONTAINER*/
        flex-direction: column;     /*ELEMENTI DISPOSTI PER COLONNA COSI UNO SOTTO L'ALTRO*/
        align-items: center;
        width: 100%;          /*LARGHEZZA 100% DELLA VIEW*/
        background-color: rgb(70,70,70);  /*CAMBIO COLORE DI SFONDO*/
        line-height: 1.2;
        font-weight: bold;  /*GRASETTO*/
        font-family: 'Yanone Kaffeesatz', sans-serif;
      }
  
      footer h1{
        color:white;
        padding-left: 20px;
        font-size: 30px;
        margin: 0px;
        font-family: 'Dancing Script', cursive;
      }
  
      footer p{
        font-size: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        color:white;
      }
  
    .hidden{
      display: none;
    }