body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
  background-image: url("../images/sfondo.jpg");
}

form {
  position: absolute;
  left: 150px;
  top:100px;
  right: 150px;
  bottom:100px;
  max-width: 400px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

/*ESSENDO CHE LA POSITION E ABSOLUTE IN UN PUNTO FISSO DELLO SCHERMO,METTO 100 DA SINISTRA 100 DA DESTRA  100 DA SOPRA E 100 DA SOTTO, E POI UNA LUNGHEZZA DI 500PX E LARGHEZZA DI 300 PX POICHE 300+100+100=500*/
@media (max-width: 500px) {
form{
  left: 10%;
  right: 15%;
  top:5%;
  width: 60%;
  }
}




h1 {
  margin: 0 0 20px 0;
  text-align: center;
  color: white;
  font-family: 'Rubik', sans-serif;
}

input[type="text"],
input[type="password"]
{
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color:black;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input[type="text"]:focus,input[type="password"]:focus{
 background-color: lightblue;
}




.button {
  cursor: pointer;
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}




label {
  display: block;
  margin-bottom: 8px;
}

/*METTO CHE OGNI LABEL E 120PX E FONT 30PX COSI SI VEDE ABBASTANZA GRANDE SE SU MOBILE*/
@media (max-width: 500px) {
label{
  height: 120px;
  font-size: 30px;
  }
}

label.light {
  font-weight: 300;
  display: inline;
}
form a{
  text-decoration: none;
    font-family: 'Rubik', sans-serif;
}

.errore,.FieldVuoti{
  color:red;
  text-align: center;
  font-family: 'Rubik', sans-serif;
}
/*METTO IL FONT DI 30 PX COSI CHE SI VEDA ABBASTANZA BENE*/
@media (max-width: 500px) {
.errore,.errorediv,form a,input[type="text"],input[type="password"]{
  font-size: 30px;
  }
}
